{
  "plugins": [
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-mixed-spaces-and-tabs": "warn",
    "node/exports-style": [
      "error",
      "module.exports"
    ]
  }
}
