
:root {
  --primary-color: #051923;
  --second-color: #FFFFFF;
  --ex-color-1: #E3D0D8;
  --ex-color-2: #333745;
  --ex-color-3: #88CCF1;
  --padding: 25px;
  --margin: 25px;
}

body {
  min-width: 800px;
  min-height: 600px;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: var(--second-color);
  color: var(--primary-color);
}

menu > div:nth-child(n+2) {
  padding-left: var(--padding);
}

.d-flex {
  display: flex;
}

.justify-space-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.hero {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  height: 100vh;
  -webkit-align-items: center;
  align-items: center;
}

.colors-block {
  background-color: var(--ex-color-3);
}

.wheels-block {
  background-color: var(--ex-color-3);
}

.wheels-block > button:hover {
  background-color: var(--ex-color-1);
}

.wheels-block > button {
  color: var(--primary-color);
  background-color: var(--second-color);
  font-weight: bold;
}

.colors-block > button:nth-child(1) {
  background-color: var(--primary-color);
}

.colors-block > button:nth-child(2) {
  background-color: var(--second-color);
}

.colors-block > button:nth-child(3) {
  background-color: var(--ex-color-1);
}

.colors-block > button:nth-child(4) {
  background-color: var(--ex-color-2);
}

.colors-block > button:nth-child(5) {
  border: 1px solid var(--primary-color);
  background-color: var(--ex-color-3);
}

button:disabled, button:disabled:hover {
  background-color: var(--ex-color-2);
  color: var(--second-color);
  opacity: 0.1;
}

button {
  margin: var(--margin);
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px 25px 5px 25px;
}

header {
  margin: var(--margin);
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--ex-color-3)
}

footer {
  text-align: center;
  padding: var(--padding);
}
