
:root {
  --primary-color: #051923;
  --second-color: #FFFFFF;
  --ex-color-1: #E3D0D8;
  --ex-color-2: #333745;
  --ex-color-3: #88CCF1;
  --padding: 25px;
  --margin: 25px;
}

body {
  min-width: 800px;
  min-height: 600px;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: var(--second-color);
  color: var(--primary-color);
}

header > div > div:nth-child(n+2) {
  padding-left: var(--padding);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.justify-space-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.align-items-center {
  align-items: center;
  -webkit-align-items: center;
}

.justify-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.hero {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  height: 75vh;
  -webkit-align-items: center;
  align-items: center;
}

.colors-block {
  background-color: var(--ex-color-3);
}

.wheels-block {
  background-color: var(--ex-color-3);
}

.wheels-block > button:hover {
  background-color: var(--ex-color-1);
}

.wheels-block > button {
  color: var(--primary-color);
  background-color: var(--second-color);
  font-weight: bold;
}

.colors-block > button:nth-child(1) {
  background-color: var(--primary-color);
}

.colors-block > button:nth-child(2) {
  background-color: var(--second-color);
}

.colors-block > button:nth-child(3) {
  background-color: var(--ex-color-1);
}

.colors-block > button:nth-child(4) {
  background-color: var(--ex-color-2);
}

.colors-block > button:nth-child(5) {
  border: 1px solid var(--primary-color);
  background-color: var(--ex-color-3);
}

.card {
  border: 1px solid var(--primary-color);
  padding: 50px;
  border-radius: 3px;
}

.text-danger {
  color: var(--ex-color-1)
}

.is-danger {
  background-color: var(--ex-color-1);
  color: var(--second-color)
}

label {
  height: 25px;
}

button:disabled, button:disabled:hover {
  background-color: var(--ex-color-2);
  color: var(--second-color);
  opacity: 0.1;
}

.kit-settings-block button {
  margin: var(--margin);
}

.cursor-pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px 25px 5px 25px;
}

.pl-5 {
  padding-left: 10rem;
}

.pr-5 {
  padding-right: 10rem;
}

textarea {
  padding: var(--padding);
  outline: none;
}

.p-3 {
  padding: 25px
}

.m-3 {
  margin: var(--margin);
}

input[type=file] {
  padding: 0;
}

.bg-img {
  background-size: cover;
  overflow: hidden;
}

form > input {
  width: 100%;
  margin: calc(var(--margin) - 15px) 0 0 0 !important;
}

.mt-2 {
  margin-top: 15px;
}

.mt-3 {
  margin-top: 25px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--second-color);
}

.btn-danger {
  background-color: var(--ex-color-1);
  columns: var(--second-color);
}

header {
  margin: var(--margin) var(--margin) 0 var(--margin);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--ex-color-3)
}

button:hover {
  background-color: var(--second-color);
  color: var(--primary-color);
}

footer {
  text-align: center;
  padding: var(--padding);
}

input {
  padding: var(--padding);
  outline: none;
}
